<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="max-w-3xl mx-auto">
  <header class="flex items-center justify-center mt-4">
    <h1 class="font-bold text-xl">Hello World</h1>
  </header>
  <main class="flex justify-center text-blue-800">This is a test of the basic composer app</main>
</div>

</body>
</html>